<div class="row mt-3">
  <div class="col offset-3">
    <h3>Properties</h3>
    <hr>
  </div>
</div>
<div class="row mt-2">
  <div class="col offset-3">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div *ngFor="let property of properties" class="col">
        <div class="card h-100 hvr-grow">
          <maps-mini-map [lngLat]="property.lngLat" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">{{property.title}}</h5>
            <p class="card-text">{{property.description}}</p>
          </div>
        </div>
      </div>
      <!-- counter -->
      <counter-alone [counter]="35" />
    </div>




</div>
