<h1>Selectores Anidados</h1>
<hr>
<form [formGroup]="countriesForm">

  <!-- Region -->
  <div class="row mb-3">
    <div class="col">
      <label class="form-label"></label>
      <select formControlName="region" class="form-control">
        <option value="">-- Seleccione Continente--</option>
        <option *ngFor="let region of regions" [value]="region">{{ region }}</option>
      </select>
    </div>
  </div>

</form>

<h3>Form value</h3>
<code>{{ countriesForm.value | json}}</code>
<h3>Form Valid: {{countriesForm.valid}}</h3>


