<p-panel header="Pipes Personalizados" class="p-1">
  <p>Pipes personalizados creados por {{'nosotros' | toggleCase:isUppercase}}</p>
</p-panel>

<p-toolbar>
  <div class="p-toolbar-group-start">
    <button
      (click)="toggleUpperCase()"
      label="Toggle Case"
      pButton
      icon="pi pi-arrow-right-arrow-left"
      class="mr-2">
    </button>
  </div>
  <div class="p-toolbar-group-end">
    <button label="Por nombre" pButton icon="pi pi-sort" class="mr-2 p-button-success"></button>
    <button label="Por volar" pButton icon="pi pi-sort" class="mr-2 p-button-warning"></button>
    <button label="Por color" pButton icon="pi pi-sort" class="mr-2 p-button-danger"></button>
  </div>
</p-toolbar>
