<div class="bg-dark border-end p-3 sidebar" >
  <h2 class="text-light text-center">Paises</h2>
  <hr class="text-white">
  <div class="list-group">
    <!-- <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true }"
      class="list-group-item list-group-item-action text-center" aria-current="true">
      Home Page
    </a>
    <a routerLink="about" routerLinkActive="active" class="list-group-item list-group-item-action text-center"
      aria-current="true">
      About Page
    </a>
    <a routerLink="contact" routerLinkActive="active" class="list-group-item list-group-item-action text-center"
      aria-current="true">
      Contact Us
    </a> -->
    <a routerLink="countries/by-capital" routerLinkActive="active"
      class="list-group-item list-group-item-action text-center" aria-current="true">
      By Capital
    </a>
    <a routerLink="countries/by-country" routerLinkActive="active"
      class="list-group-item list-group-item-action text-center" aria-current="true">
      By Country
    </a>
    <a routerLink="countries/by-region" routerLinkActive="active"
      class="list-group-item list-group-item-action text-center" aria-current="true">
      By Región
    </a>
  </div>
</div>
