<h4>Add Character</h4>

<form class="row" (ngSubmit)="emitCharacter()">
  <input
    [(ngModel)]="character.name"
    name="name"
    type="text"
    class="form-control mb-2"
    placeholder="Character name ...">

  <input
    [(ngModel)]="character.power"
    name="power"
    type="number"
    class="form-control mb-2"
    placeholder="power">

    <button
      class="btn btn-primary" type="submit ">
      <i class="fa fa-regular fa-plus"></i> Add
  </button>

  <!-- <pre>{{character | json}}</pre> -->

</form>
