<h2>Por Región</h2>
<hr>
<div class="row">
  <div class="col text-center">
    <!-- Search Box -->
    <button
      *ngFor="let region of regions"
      class="btn mx-2"
      (click)="searchByRegion(region)"
      [ngClass]="(selectedRegion === region ? 'btn-primary': 'btn-outline-primary')"
      >
      {{region}}
    </button>
  </div>
</div>


    <!-- <shared-search-box (onDebounceEvent)="searchByRegion($event)" placeholder="Buscar por región...">

    </shared-search-box> -->
<div class="row">
  <div class="col">
    <!-- Tabla resultados -->
    <countries-table [countries]="countries"></countries-table>

  </div>
</div>
