<h2>Por Capital</h2>
<hr>
<div class="row">
  <div class="col">
    <!-- Search Box -->
    <!-- (onSearchEvent)="searchByCapital($event)" -->
    <shared-search-box
      (onDebounceEvent)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por capital ...">

    </shared-search-box>
  </div>
</div>
<div class="row">
  <div class="col">
    <shared-spinner *ngIf="isloading"></shared-spinner>

    <!-- Tabla resultados -->
    <countries-table [countries]="countries"></countries-table>


    <!--     <ul *ngFor="let country of countries">
      <li>{{country.capital}} - {{country.population}}</li>
    </ul> -->
  </div>
</div>
