<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <!-- @if -->
  <div class="bg-white p-4 shadow rounded-lg">
    <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>

    <div class="mt-4">
      <button
        class="p-2 bg-blue-500 rounded-lg text-white"
        (click)="toggleContent()">Click me!
      </button>
    </div>

    @if (showContent()) {
    <p class="text-gray-600">Hola Mundo</p>
    } @else {
    <p class="text-gray-600">***********</p>
    }
  </div>


</section>
