<h3>User details</h3>
<hr>
<div class="row">
  <div class="col-4">
    <h4>Current User: {{ userId() }}</h4>
    <div class="d-inline-flex gap-2 mt-3">
      <button (click)="loadUser(userId() - 1 )" class="btn btn-primary">Previous</button>
      <button (click)="loadUser(userId() + 1 )" class="btn btn-success">Next</button>
    </div>
  </div>
  <div *ngIf="currentUser()" class="col-8">

    <h5>User</h5>
    <p>Email: {{currentUser()!.email}}</p>
    <p>Name: {{fullName()}}</p>
    <img [src]="currentUser()?.avatar" class="img-fluid mx-auto img-thumbnail" alt="Avatar">
  </div>
  <div *ngIf="!wasUserFound()" class="col-8 text-danger">
    <h4>User not found</h4>
  </div>
</div>
